{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <title>EMIS | ponpesabduldhohir</title>
    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon" />
    <link
      href="{% static 'assets/img/apple-touch-icon.png' %}"
      rel="apple-touch-icon"
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet" />
    <link
      href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/remixicon/remixicon.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="row">
      <div class="col-md-2 d-flex justify-content-end">
        <div class="logo me-auto me-lg-0"><img src="{% static 'assets/img/LOGO-PAD.png' %}" alt="" class="img-fluid"></div>
      </div>
      <div class="col-md-2 d-flex justify-content-start">
        <div class="logo me-auto me-lg-0"><a href=""><p class="fs-6">pondok pesantren<span>abdul dhohir</span></p></a></div>
      </div>
      <div class="col-md-8">
        <div class="container collapse navbar-collapse d-flex justify-content-end">

          <!-- Uncomment below if you prefer to use an image logo -->

          <nav id="navbar" class="navbar order-last order-lg-0">
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->

        </div>

      </div>
    </div>

  </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center justify-content-center">
      <div class="container" data-aos="fade-up">
        <div
          class="row justify-content-center"
          data-aos="fade-up"
          data-aos-delay="150"
        >
          <div class="col-xl-6 col-lg-8">
            <h1>Education Management Inovation System</h1>
            <h2>Pondok Pesantren Abdul Dhohir</h2>

            <div class="col-lg-8">
              {% if messages %} {% for message in messages%}
              <div class="alert alert-{{message.tags}}">{{message}}</div>
              {%endfor %} {%endif%}
            </div>
          </div>
        </div>

        <div
          class="row gy-4 mt-5 justify-content-center"
          data-aos="zoom-in"
          data-aos-delay="250"
        >
          <div class="col-xl-2 col-md-4">
            <div class="icon-box">
              <i class="ri-paint-brush-line"></i>
              <h3><a href='{%url "login" %}'>Masuk sistem</a></h3>
            </div>
          </div>
          <div class="col-xl-2 col-md-4">
            <div class="icon-box">
              <i class="ri-team-fill"></i>
              <h3><a href='{%url "view-attendance-siswa-buka" %}'>Lihat daftar hadir</a></h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main"></main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <div class="footer-info">
                <h3>PONDOK ABDUL DHOHIR</h3>
                <p>
                  Patam Lestari, Kec. Sekupang,<br />
                  Kota Batam, Kepulauan Riau 29424 <br /><br />
                  <strong>Phone:</strong> +62813 6596 3075<br />
                  <strong>Email:</strong> ponpesabduldhohir@gmail.com<br />
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="copyright">&copy; Ponpes Abdul Dhohir.</div>
      </div>
    </footer>
    <!-- End Footer -->

    <div id="preloader"></div>
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'assets/vendor/purecounter/purecounter.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
  </body>
</html>
