{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Base{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon" />
    <link
      href="{% static 'assets/img/apple-touch-icon.png' %}"
      rel="apple-touch-icon"
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet" />
    <link
      href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/remixicon/remixicon.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'datetimepicker/jquery.datetimepicker.css' %}"
    />
    <script src="{% static 'datetimepicker/jquery.js' %}"></script>
    <script src="{% static 'datetimepicker/build/jquery.datetimepicker.full.min.js' %}"></script>

    <!-- SB template -->
    <link
      href="{% static 'sb/vendor/fontawesome-free/css/all.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    <link href="{% static 'sb/css/sb-admin-2.min.css' %}" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top header-inner-pages">
      <div
        class="container d-flex align-items-center justify-content-lg-between"
      >
        <h1 class="logo me-auto me-lg-0">
          <a href="{% url 'dashboard' %}">PAD<span>.</span></a>
        </h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
            <li>
              <a class="nav-link scrollto" href="{% url 'logout' %}">Logout</a>
            </li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <main id="main">
      <!-- ======= Breadcrumbs ======= -->
      <section class="breadcrumbs">
        <div class="container">
          <div class="d-flex justify-content-between align-items-center">
            <h2>EMIS Pondok Pesantren Abdul Dhohir</h2>
          </div>
        </div>
      </section>
      <!-- End Breadcrumbs -->

      <section class="inner-page">
        <!-- ======= About Section ======= -->
        <div class="container">
          <div class="row">
            <div class="col">
              <a class="btn btn-primary" href="{% url 'create' %}"
                ><i class="ri-user-add-line"></i> Create</a
              >
              |
              <a class="btn btn-outline-primary" href="{% url 'hitung' %}"
                ><i class="ri-star-smile-fill"></i> Total santri</a
              >
              | <a href="{% url 'list' %}">List santri</a> |
              <a class="btn btn-outline-success" href="{% url 'person_csv' %}"
                ><i class="ri-file-excel-2-fill"></i> Print ke CSV</a
              > |
              <a class="btn btn-outline-success" href="{% url 'detail_csv' %}"
                ><i class="ri-file-excel-2-fill"></i> Print detail santri ke CSV</a
              >
              <form action="{% url 'cari' %}" method="post" class="my-3">
                {% csrf_token %}
                <input
                  class="form-control"
                  type="search"
                  placeholder="Cari nama santri ..."
                  name="searched"
                />
                <button type="submit" class="btn btn-outline-success mt-1">
                  Cari
                </button>
              </form>
              {% block body %} Base {% endblock %}
            </div>
          </div>
        </div>
        <!-- End About Section -->
      </section>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <div class="footer-info">
                <h3>PONDOK ABDUL DHOHIR</h3>
                <p>
                  Patam Lestari, Kec. Sekupang,<br />
                  Kota Batam, Kepulauan Riau 29424 <br /><br />
                  <strong>Phone:</strong> +62813 6596 3075<br />
                  <strong>Email:</strong> ponpesabduldhohir@gmail.com<br />
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="copyright">&copy; Ponpesabduldhohir</div>
      </div>
    </footer>
    <!-- End Footer -->

    <div id="preloader"></div>
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'assets/vendor/purecounter/purecounter.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>

    <!-- SB admin -->
    <script src="{% static 'sb/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'sb/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'sb/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'sb/js/sb-admin-2.min.js' %}"></script>
    <script src="{% static 'sb/vendor/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'sb/js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'sb/js/demo/chart-pie-demo.js' %}"></script>
  </body>
</html>
