{% extends "app/base.html" %} 
{% block title %}EMIS | ponpesabduldhohir{% endblock %} 
{% block body %}

<h2>Data Santri Pondok Pesantren Abdul Dhohir</h2>
<div class="row">
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-primary text-uppercase mb-1"
            >
              Total santri
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              {{ persons_count }}
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-graduation-cap fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-primary text-uppercase mb-1"
            >
              Santri pulang
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              {{ persons_pulang }}
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-plane fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-primary text-uppercase mb-1"
            >
              Santriwan
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              {{ persons_laki }}
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-male fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-primary text-uppercase mb-1"
            >
              Santriwati
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              {{ persons_perempuan }}
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-female fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-danger shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-primary text-uppercase mb-1"
            >
              Total lulus Mondok
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              {{ persons_lulus }}
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-award fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-primary text-uppercase mb-1"
            >
              Santri Mondok
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              {{ persons_mondok }}
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-award fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
