{% extends "app/base.html" %} 
{% block title %}EMIS | ponpesabduldhohir{% endblock %} 
{% block body %}

<div class="container">
  <div class="row">
      <div class="col">
        {% if searched %}
          <h2>Kamu sedang mencari {{ searched }}</h2>
          {% if persons %}
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nama</th>
            <th scope="col">Tahun Masuk</th>
            <th scope="col">NIS</th>
            <th scope="col">Gender</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for person in persons %}
          <tr>
            <td>{{ person.name }}</td>
            <td>{{ person.tahun }}</td>
            <td>{{ person.nis }}</td>
            <td>{{ person.jk }}</td>
            <td><span class="btn btn-success">{{ person.status }}</span></td>
            <td>
              <a class="btn btn-outline-info" href="{% url 'detail' person.id %}">Detail</a>
              <a class="btn btn-outline-danger" href="{% url 'delete' person.id %}">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <div class="col-12">
      <div class="alert alert-warning" role="alert">
          Data tidak ditemukan atau belum terdaftar.
      </div>
    </div>
    {% endif %}
        {% else %}
          <h2>Kamu dapat mulai mencari dengan klik tombol diatas <i class="fas fa-hand-point-up"></i></h2>
        {% endif %}
      </div>
  </div>
</div>

{% endblock %}
